<ion-view title="User Feed">
  <ion-content>

    <ion-list>

      <ion-item ng-repeat="post in posts" type="item-text-wrap" href="#/tab/post/{{post.id}}">
          <div class="thumbnail">
            <img src="{{post.images.thumbnail.url}}"/>
          </div>
          <div class="comment">
            {{post.caption.text}}
          </div>
          <div class="info">{{post.comments.count}} Comments - {{post.likes.count}} Likes </div>
       
       </ion-item>     
    </ion-list>
  </ion-content>
</ion-view>
