<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="Post Page">
  <ion-content padding="true" class="center">
  <div class="main">
  	<p> {{post.caption.text}}</p>
  	<img src="{{post.images.standard_resolution.url}}" />
  	<p>{{post.likes.count}} Likes </p>
  </div>
    <ion-item ng-repeat="comment in post.comments.data" type="item-text-wrap">
    <img class="profilPic" src="{{comment.from.profile_picture}}"/>
    {{comment.text}}<br/>
    {{comment.from.full_name}}
    </ion-item>
  </ion-content>
</ion-view>
